<section class="tab {{#if tab.active}} active{{/if}}" data-group="sheet" data-tab="scripts" data-application-part="scripts">
    <div class="script-list">
        {{#each document.system.scriptData}}
            <div class="script" data-index="{{@key}}">
                <label><a data-action="editScript"><i class="fa-solid fa-gear-complex-code"></i> {{this.label}}</a></label>
                <label style="opacity: 0.7">{{configLookup "scriptTriggers" this.trigger}}</label>
                <a data-action="deleteScript"><i class="fa-solid fa-xmark"></i></a>
            </div>
        {{/each}}
        <button type="button" data-action="addScript"><i class="fa-solid fa-plus"></i>{{localize "WH.AddScript"}}</button>
    </div>
</section>