<div class="flexrow">
    {{~#if displaySelection}}
    <div class="count {{ invalid }}">
        {{{ localize "WH.CompendiumBrowser.Selection.Label" summary=summary }}}
    </div>
    <button type="submit">
        {{ localize "WH.CompendiumBrowser.Selection.Select" }}
    </button>
    {{/if~}}
</div>
