.compendium-browser {
  section.window-content {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: min-content auto min-content;
    gap: 5px 5px;
    grid-template-areas:
        "nav nav"
        "sidebar results"
        "footer footer";

    .collapsible {
      &.collapsed {
        .fa-caret-down {
          transform: rotate(-90deg);
        }

        .collapsible-content {
          grid-template-rows: 0fr;
        }
      }

      .fa-caret-down {
        transition: transform 250ms ease;
      }

      .collapsible-content {
        display: grid;
        grid-template-rows: 1fr;
        transition: grid-template-rows 250ms ease;

        > .wrapper {
          overflow: hidden;
        }
      }
    }

    nav.tabs {
      grid-area: nav;

      a {
        background: linear-gradient(to right, var(--color-warm-2), var(--color-warm-1));
        color: white;
        border-radius: 8px 8px 2px 2px;
        border-bottom: solid 2px var(--color-underline-header);
        padding: 6px 0 4px 8px;
        filter: grayscale(1);

        &.active {
          filter: none !important;
        }

        &:hover {
          filter: grayscale(0.3);
        }
      }
    }

    .sidebar {
      grid-area: sidebar;
      scrollbar-gutter: stable;
      gap: 12px;
      overflow: hidden auto;
      min-height: 0;

      [data-application-part="types"] {
        .type-entry, .type-group-header {
          display: flex;
          flex-wrap: wrap;
          gap: 2px;
          align-items: center;
        }

        .type-entry input[type="checkbox"], .type-group input[type="checkbox"] {
          margin: 0;
        }

        .type-entry label {
          cursor: pointer;
          display: flex;
          gap: 4px;
          align-items: center;
        }

        .type-group-header {
          margin-bottom: 4px;
        }

        .type-group .wrapper {
          margin-inline-start: 20px;
          display: flex;
          flex-direction: column;
          gap: 4px;
        }
      }

      .filter-header > label {
        cursor: pointer;
        display: flex;
        justify-content: center;
        gap: 4px;
        font-size: var(--font-size-11);

        &::before, &::after {
          content: "";
          flex-basis: 50%;
          border-top: 1px dotted var(--color-cool-3);
          align-self: center;
        }
      }

      .filter label.filter-choice {
        display: block;
      }

      .filter-set:not([data-filter-id="source"]) {
        .wrapper {
          display: flex;
          flex-wrap: wrap;
          justify-content: flex-start;

          .filter-choice {
            flex: 1 1 40%;
          }
        }
      }

      .filter-element search {
        display: flex;
        align-items: center;
        border-radius: 4px;
        position: relative;
        margin-bottom: 5px;

        > input[type="text"] {
          padding-left: 2rem;

          &:hover, &:focus-visible {
            box-shadow: 0 0 12px var(--color-shadow-primary);
          }
        }

        &::before {
          content: "\f002";
          font-family: var(--font-awesome);
          font-weight: bold;
          color: var(--color-text-light-6);
          position: absolute;
          left: .75rem;
        }

        .controls {
          list-style: none;
          margin: 0;
          min-height: 0;
          display: flex;
          padding: 0;
          align-self: stretch;
          align-items: stretch;

          button {
            padding: 0 6px 0 8px;

            i {
              margin: 0;
            }
          }
        }

        .filter-control {
          height: 100%;
          padding: 0 .375rem;

          &.active {
            color: var(--color-text-dark-primary);
          }

          &:hover:not(.disabled) {
            text-shadow: 0 0 8px var(--color-shadow-primary);
          }

          &:hover:not(.disabled), &:focus {
            box-shadow: none;
            outline: 0;
          }
        }
      }

    }

    .results {
      grid-area: results;
      scrollbar-gutter: stable;
      min-height: 0;
      --results-padding: 6px;
      padding: var(--results-padding) 8px 12px 4px;
      overflow-y: auto;

      .items-header {
        position: sticky;
        top: calc(var(--results-padding) * -1);
        z-index: 1;
      }

      .results-loading {
        text-align: center;
        padding: 20px;
        font-size: 18px;
        color: var(--color-text-light-6);

        > i {
          height: 16px;
        }
      }

      .items-header {
        display: flex;
        align-items: stretch;
        position: sticky;
        top: calc(var(--results-padding) * -1);
        z-index: 1;
        background: linear-gradient(to right, var(--color-warm-3), var(--color-warm-2));
        color: white;
        border-radius: 6px 6px 0 0;
        border-bottom: solid 2px var(--color-underline-header);
        padding: 6px 0 4px 8px;

        .item-name {
          font-size: var(--font-size-16);
          flex: 1;
          display: flex;
          gap: 0.5rem;
          align-items: center;
          line-height: 1;
          position: relative;
          margin: 0;
          border: none;
        }

        .item-header {
          //font-family: var(--dnd5e-font-roboto-condensed);
          text-transform: uppercase;
          font-size: var(--font-size-11);
          display: flex;
          align-items: center;
          justify-content: center;
          text-align: center;

          &.item-source {
            width: 200px;
          }
        }
      }

      .items-section {
        box-shadow: 0 0 6px rgba(0, 0, 0, 0.45);
        border-radius: 6px 6px 0 0;
      }

      .items-section .item-controls {
        width: 50px;
        align-items: center;
        padding: 0;
      }

      .item-list {
        list-style: none;
        padding: 0;
        margin: 0;
        min-height: 0;
      }

      li.item {
        margin: 0;

        .item-row {
          display: flex;
          align-items: stretch;

          .item-name {
            flex: 1;
            display: flex;
            gap: 0.5rem;
            align-items: center;
            line-height: 1;
            position: relative;

            .item-image {
              width: 32px;
              height: 32px;
              object-fit: cover;
              min-width: 32px;
              min-height: 32px;
            }

            .name {
              flex: 1;
            }

            .name-stacked {
              display: flex;
              flex-direction: column;
            }

            .title {
              //font-family: var(--dnd5e-font-roboto-slab);
              font-weight: bold;
              transition: text-shadow 250ms ease;
              font-size: var(--font-size-13);
            }

            &:hover .title {
              text-shadow: 0 0 8px var(--color-shadow-primary);
            }

            .subtitle {
              //font-family: var(--dnd5e-font-roboto);
              font-size: var(--font-size-10);
              color: var(--color-text-dark-5);
            }
          }

          .item-detail {
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
          }

          .item-source {
            width: 200px;
            font-size: var(--font-size-13);
          }

          .item-controls {
            width: 50px;
            align-items: center;
            padding: 0;
          }
        }
      }
    }

    .footer {
      grid-area: footer;
    }
  }
}