.chat-message {
    .test-buttons {
        button {
            &:first-child
            {
                flex: 0 0 1rem;    
            }
            img {
                flex: 0 0 1.5rem;
            }
            .apply-label{
                flex: 1;
            }
            height: unset;

            .test-label {
                font-size: var(--font-size-12);
            }
        }
    }
}