.warhammer.script-editor
{
    .window-content {

        
        div[data-application-part=editor] {
            height: 100%;
            overflow:hidden
        }
        code-mirror[name='script']
        {
            height: 100%;
        }
    }
 
    .script-fields {
        // flex: 1;
        // display: grid;
        // grid-template-rows: 3fr 1fr 1fr 1fr;
        // grid-template-columns: 100%;
        // grid-row-gap: 2rem;

        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin-top: 0.5rem;
        .script label
        {
            margin-bottom: 0.5rem;
        }
    }

    .window-content > div {
        overflow:auto;
        // display: flex;
        // flex-direction: column;
        // height: 100%;
    }

}

.warhammer.diff-editor {

    .diff {
        height: 92%;
    }
    .diff-container {
        height: calc(100% - 5rem);
    }
}

.warhammer.rich-editor {
    .window-content >:first-of-type {
        height: 100%;
    }
    prose-mirror {
        height: 100%;
    }

    .editor-container {
        overflow-y: hidden;
    }
}
