.warhammer.script-editor
{
 
    .script-fields {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin-top: 0.5rem;
        .script label
        {
            margin-bottom: 0.5rem;
        }
    }

    .window-content > div {
        overflow:auto;
    }

}

.warhammer.diff-editor {

    .window-content > div {
        height: calc(100% - 110px);
    }

    .editor {
        height: 100%;
        overflow: hidden
    }
    textarea { height: 100%; resize: none;}
}
