.warhammer .advanced-effect-config 
{
    overflow: auto;

    code-mirror {
        margin-bottom: 0.5rem;
    }

    fieldset {
        margin: 0.5rem 0px;
    }
}

.warhammer .script-list {
    display: flex;
    flex-direction: column;
    align-items: center;

    .script {
        display: flex;
        width: 100%;
        line-height: 1.5rem;
        height: 1.5rem;
        padding: 0px 0.5rem;
        margin-bottom: 0.5rem;
        background: var(--color-cool-3);
        border-radius: 5px;

        >* {
            flex: 1;
        }

        > a {
            flex: 0 0 1.5rem;
        }
    }

    button[data-action="addScript"] {
        width: 20%;
        height: 1.5rem;
        padding: 0px;
        line-height: 1.5rem;
    }
}