.warhammer.module-initializer {
  text-align: center;
  .window-content {
    height : 100%;
  }
  .initializer {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    h3 {
      font-size: 1.5rem;
      margin: 0px;
    }
  }
  .module-list {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    width: 100%;
    overflow: auto;

    .module {
      background-repeat: no-repeat;
      opacity: 0.7;
      background-size: contain;
      width: 200px;
      height: 108px;
      transition : opacity 0.5s;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      border: 1px solid var(--color-light-5);
      h3 {
        margin: 0px;
        font-size: 18px;
        text-shadow: 0px 0px 10px black;
      }
      .buttons {
        flex: 0 0 50px;

        width: 100%;
        transition: opacity 0.5s;
        opacity: 0;
        display: flex;
        justify-content: space-around;
        align-items: center;
        button {
          width: 30px;
          height: 25px;
          line-height: 25px;
          padding: 0px;
        }
      }
      &:not(.uninstalled):not(.not-active):hover {
        opacity: 1;
        .buttons {
          opacity: 1
        }
      }
      &.not-active {
        opacity: 0.2
      }

      &.uninstalled {
        border-radius: 5px;
      }

    }
  }
}


.application.dialog.initialization {
  .standard-form {
    gap: 0px;
  }

  .hint {
    margin-bottom: 0.5rem;
  }
}