.warhammer.roll-dialog {
    .dialog-modifiers {
        ul {
            padding: 0px;
            
        }
    }
}


.warhammer.roll-dialog-v2 
{

    --modifier-bg : var(--color-cool-3);


    gap: 0px;
    .dialog-base {
        display: flex;
        flex: 1;
        gap:  1rem;
        // 100% - button size - gap size
        height:  calc(100% - 1.25 * 2rem - 1rem);
        .dialog-fields {
            overflow:hidden;
            gap: .5rem;
            display: flex;
            flex-direction: column;
            > * {
                display: flex;
                flex-direction: column;
                gap: .5rem;
            }
        }
    }

    .dialog-modifiers {
        display: flex;
        flex-direction: column;
        text-align: center;
        flex: 1;

        .modifier-list {
            height: 100%;
        overflow: auto;
    }
        ul {
            text-align: left;
            list-style: none;
            padding: 0px;
            flex: 1;
            margin: 0px;
        }
        .modifier {
            margin: 0px;
            padding: 0.3rem 0.3rem;
            &.active {
                background: var(--modifier-bg);
            }
        }
    }
}