
<div class="mode-field">
    
<div class="form-group">
    <label>{{localize "WH.RollMode"}}</label>
    <div class="form-fields">
        <select name="rollMode">
            {{selectOptions rollModes selected=fields.rollMode}}
        </select>
    </div>
</div>
</div>