.active-effect-sheet.warhammer .key select {
    width: 100%;
}


.item-dialog .dialog-content {
    display: flex;
    flex-direction: column;
}

.item-dialog .dialog-content .dialog-text{
    flex: 0 0 1.5rem;
    font-size: var(--font-size-18);
    text-align: center;
}

.item-dialog .dialog-content .directory {
    flex: 1;
    overflow-y: scroll;
}

.warhammer#context-menu {
  z-index: 9999;
  width: unset;   
}


#bug-report {
    
    .matching {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

 .issue-list {
    overflow-x: auto;
    display: flex;
    width: 100%;
    
  }
  
  .issue {
    display: flex;
    align-items: center;
    height: 100px;
    min-width: 150px;
    max-width: 150px;
    border-radius: 10px;
    overflow: hidden;
    margin: 5px;
    padding: 3px;
  }

  textarea {
    height: 150px;
    width: 100%;
    resize: none;
  }

  .notification::before {
    content: none
  }
  
}