.theme-light .warhammer.application {
    --list-header : rgba(0, 0, 0, 0.1);
    --list-header-border : var(--color-dark-6);
    --list-row : none;
    --list-row-alternate : rgba(0, 0, 0, 0.05);
    --name-bg : rgba(0, 0, 0, 0.05);
    --name-border : var(--color-dark-6);
    --name-label : rgba(0, 0, 0, 0.1)
}

.warhammer.application {
    --list-header : var(--color-cool-4);
    --list-header-border : var(--color-cool-3);
    --list-row : none;
    --list-row-alternate : #3028318f; // cool-3 at half transparency
    --name-bg : var(--color-cool-3);
    --name-border : var(--color-cool-3);
    --name-label : var(--color-cool-4);
    
    .sheet-list {
        display: flex;
        flex-direction: column;
        .list-row {
            display: flex;
            flex-direction: column;
            width: 100%;
            line-height: 2rem;
            background: var(--list-row);
            &:nth-child(even)
            {
                background-color: var(--list-row-alternate);
            }
        }

        .list-header {
            background-color: var(--list-header);
            height: 1.5rem;
            line-height: 1.5rem;
            border: 1px solid var(--list-header-border);

            .list-name {
                margin: 0px 5px;
            }

            .list-button {
                flex: 0 0 10px;
                margin: 0px 10px
            }
        }

        &.condensed {
            .list-row {
                height: 1.5rem;
                line-height: 1.5rem;
            }
            .list-content {
                .row-content {
                    height: 1.5rem;
                }
            }
        }

        .list-content {
            .row-content {
                height: 2rem;
            }
        }

        .row-content {
            display: flex;
            width: 100%;
            text-align: center;

            .list-name {
                display: flex;
                align-items: center;
                text-align: left;

                img {
                    flex: 0 0 2rem;
                    height: 2rem;
                    width: 2rem;
                }

                .label {
                    margin: 0px 5px;
                }

                input.label {
                    margin: 0px;
                    padding: 0px 5px;
                }


                flex: 2;
            }

            .list-controls {
                flex: 0 0 2rem;

                display: flex;
                align-items: center;
                justify-content: space-around;

                .list-control {
                    flex: 1
                }
            }

            .like-input,
            input,
            select 
            {
                height: 100%;
                width: 100%;
                padding: 0px;
                border-radius: 0px;
                border: none;
                &[type=checkbox]
                {
                    text-align: center;
                }
        }

            >* {
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                flex: 0 0 100px;
                
                &.flex {
                    flex: 1;
                }

                &.fit {
                    flex: unset
                }
            }

            .large {
                flex: 0 0 200px;

                &.flex {
                    flex: 2;
                }
            }

            .small {
                flex: 0 0 50px;

                &.flex {
                    flex: 0.5
                }
            }

            .tiny {
                flex: 0 0 25px;
            }

            .inline-description
            {
                flex: 3;
                p {
                    margin: 0px;
                }
            }
        }

        .description {
            line-height: 1rem;
        }

        .dropdown-content {

            display: grid;
            grid-template-rows: 0fr;
            transition: grid-template-rows 250ms;
            overflow: hidden;
            padding: 0px 0.5rem;
            line-height: 1.5rem;

            > * {
                overflow: hidden;
            }
            &.expanded {
                grid-template-rows:  1fr;
            }
            // transition: height 0.3s ease-in-out;
            // line-height: 1.5rem;
            // box-sizing: border-box;
            // &.expanded {
            //     padding: 5px;
            //     > * {
            //         margin: 0px;
            //     }
            // }
            // &.collapsed {
            //     height: 0px;
            // }
        }
    
    }

    .name-list {
        display: flex;
        flex-direction: column;
        margin: 0.5rem 0px;
        border: 1px solid var(--name-border);
        label {
            text-align: center;
            height: 2rem;
            line-height: 2rem;
            background: var(--name-label);
        }   
        .list-content {
            border-top: 1px solid var(--name-border);
            min-height: 2rem;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            gap: 0.5rem;
            padding: 0.5rem 0.5rem;

            .list-element {
                &:not(.input)
                {

                    border: 1px solid var(--name-border);
                    border-radius: 10px;
                    padding: 0.5rem;
                    background:  var(--name-bg);
                }
                position: relative;
                .floating {
                    position: absolute;
                    right: -7px;
                    top: -5px;
                    border-radius: 50%;
                    padding: 2px;
                    display: flex;
                    align-items: center;
                    background: var(--name-bg)
                }

                select,
                input {
                    text-align: center;
                    border-radius: 5px;
                    margin: 5px;
                    height: 1.5rem;
                    padding: 0px;
                    margin: 0px;
                }
            }
        }
    }
}