.theme-light .warhammer.actor.application,
    .theme-light .warhammer.item.application {

    --attribute-input : transparent;
    --attribute-input-border : transparent;
    --attribute-border : var(--color-dark-6);
    --fieldset-border : var(--color-dark-6);
    --attribute-title : var(--color-dark-3);
    --attribute-title-color : white;
    --attribute-locked-input : rgba(0, 0, 0, 0.1);
    --attribute-locked-border : transparent;
    --attribute-label : rgba(0, 0, 0, 0.1);;
    --attribute-field : transparent;

    --form-label : rgba(0, 0, 0, 0.1);//var(--color-dark-6);
    --form-input : transparent;
    --form-input-border : transparent;
    --form-group-border : var(--color-dark-6);

    --editor-header : rgba(0, 0, 0, 0.1);
    --editor-header-border : var(--color-dark-6);

    --hover-bg : var(--color-cool-5);
}

.warhammer.actor.application,
.warhammer.item.application {

    --attribute-input : var(--color-cool-4);
    --attribute-input-border : transparent;
    --attribute-border : var(--color-cool-3);
    --attribute-title : var(--color-cool-3);
    --attribute-title-color : white;
    --fieldset-border : var(--color-cool-3);
    --attribute-locked-input : transparent;
    --attribute-locked-border : transparent;
    --attribute-label : transparent;
    --attribute-field : transparent;

    --form-label : transparent;
    --form-input : var(--color-cool-4);
    --form-input-border : transparent;
    --form-group-border : var(--color-cool-3);

    --editor-header : var(--color-cool-3);
    --editor-header-border : transparent;

    --hover-bg : transparent;

    .positive {
        color: var(--color-level-success)
    }

    .negative {
        color: var(--color-level-error)
    }

    .rollable {
        > * {
            cursor: pointer;
        }
        &:hover {
            img {
                color: white;
                box-shadow: 0px 0px 10px var(--color-cool-3) inset;
                background: var(--hover-bg)
            }
        }
    }

    section.tab {
        gap: 0.5rem;

    }

    
    .like-input  {
        width: 100%;
        height: var(--input-height);
        line-height: var(--input-height);
        padding: 0 0.5rem;
        background: var(--form-input);
        border: 1px solid transparent;
        border-radius: 4px;
        color: var(--input-text-color);
        text-align: center;
        display: flex;
        align-items: center;
        > * {
            flex: 1;
        };
        .control {
            flex: 0 0 1rem;
        }
    }

    .form-group {
        gap: 0px;
        select,
        input:not([type='checkbox']) {
            border-radius: 0px;
            background: var(--form-input);
            border-color: var(--form-input-border);
        }
        label {
                border-right: 1px solid var(--form-group-border);
                height: var(--input-height);
                line-height: var(--input-height);
                text-align: center;
                background: var(--form-label)
            }
        &.stacked
        {
            label {
                border-right: none;
            }
        }
        .hint {
            margin : 0px;
            padding: 0.5rem;
            border-top: 1px dashed var(--form-group-border);
        }
        border: 1px solid var(--form-group-border);
    }

    prose-mirror {
        .editor-content {
            position: static; 
        }
    }

    .editor-section {
        .header {
            height: 1.5rem;
            line-height: 1.5rem;
            padding-left: 5px;
            background: var(--editor-header);
            border: 1px solid var(--editor-header-border);
        }
    }

    
    .sheet-effect-buttons {
        margin: 3px 0px;
        display: flex;
        button {
            font-size: var(--font-size-10);
            padding: 0px 0.5rem;
            height: 1rem;
        } 
    }

    fieldset {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        border-color: var(--fieldset-border);
        border-radius: 8px;
    }

    .attribute-box {

        --rows: 2;
        --columns: 12;

        --row-height: 1.5rem;
        --title-height: 1.5rem;

        &.single {
            --rows: 1;
            .label {
                border-bottom: 0px;
            }
        }

        &.titled {
            --rows: 3;
            grid-template-rows: repeat(var(--title-height) repeat(var(--rows), 1fr));

            height: calc((var(--rows) - 1) * var(--row-height) + var(--title-height));
        }


        
        flex: 1;
        border: 1px solid var(--attribute-border);
        border-right: none;
        height: calc(var(--rows) * var(--row-height));

        display: grid;
        grid-template-columns: repeat(var(--columns), 1fr);
        grid-template-rows: repeat(var(--rows), 1fr);

        box-sizing: content-box;

        .title {
            color: var(--attribute-title-color);
            background: var(--attribute-title);
            height: var(--title-height);
        }


        &.bottom-label {
            .label {
                border-top: 1px solid var(--attribute-border);
                border-bottom: none;
            }
        }

        &:first-child {
            margin-left: 0px;
        }
        &:last-child {
            margin-right: 0px;
        }

        > div {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .field {
            border-right: 1px solid var(--attribute-border);
            width: 100%;
            background: var(--attribute-field);
            
            height: var(--row-height);
            line-height: var(--row-height);
        }

        .label {
            border-bottom: 1px solid var(--attribute-border);
            border-right: 1px solid var(--attribute-border);
            width: 100%;
            background: var(--attribute-label);
            white-space: nowrap;
            height: var(--row-height);
            line-height: var(--row-height);
            i {
                margin: 0px 3px;
            }
        }

        select,
        input {
            height: 100%;
            width: 100%;
            border-radius: 0px;
            text-align: center;
            background-color: var(--attribute-input);
            border : 1px solid var(--attribute-input-border);
            padding: 0px;
            line-height: var(--row-height);
        }

        .progress-bar {
            height: var(--row-height);
            border: 0px;
        }

        input:disabled,
        input[readonly]
        {
            background-color: var(--attribute-locked-input);
            border : 1px solid var(--attribute-locked-border);
        }

        .interact {
            &.bottom {
                border-top: 1px solid var(--attribute-border);
            }
            background: var(--attribute-input);
            display: flex;
            justify-content: space-evenly;
        }
    }

    .progress-bar {
        --color: var(--color-warm-3);
        --height: 1rem;
        --radius: 0px
        margin: 4px 0px;
        display: flex;
        width: 100%;
        border-radius: var(--radius);
        border: 1px solid var(--color);
        height: 50%;
        height: --var(--height);
        .fill {
            background-color: var(--color);
        }
    }

    h2.sheet-divider {
        text-align: center;
        font-size: var(--font-size-18);
        font-weight: bold;
        margin: 0px 30%;
        --color: var(--color-cool-3);
        border-bottom: 2px solid transparent;
        border-image: linear-gradient(36deg, rgba(255,255,255,0) 0%, var(--color) 50%, rgba(255,255,255,0) 100%);
        border-image-slice: 1;
    }

    .choice-group {
        text-align: center;
        margin: 1rem 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        label {
            font-size : var(--font-size-18);
        }
        .choice-text {

            margin-top: 5px;
            text-align: center;
            border: 2px solid var(--attribute-border);
            padding: 5px;
            border-radius: 5px;
            width:fit-content;
        }
    }

    .name-list,
    .document-reference  {
        position: relative; 
        .floating {
            position: absolute;
            top: -0.5rem;
            right: -0.1rem;
            height: 1rem;
            width: 1rem;
        }
    }

    .header-rule {
        margin: 1rem 0px;
        text-align: center;
        &:before {

        }
        :after {
            
        }
    }
}