@use "./apps/item-dialog";
@use "./apps/bug-reporter";
@use "./apps/roll-dialog";
@use "./apps/choice-config";
@use "./apps/choice-decision";
@use "./apps/editor";
@use "./sheets/sheets";
@use "./sheets/list";
@use "./apps/embed";
@use "./apps/elements";
@use "./apps/browser";

.warhammer {
  --tab-color : var(--color-cool-3);

  &.application {
    a {
        cursor: pointer
    }

    img {
        border: none;
        object-fit: contain;
    }

    .inactive:not(.prosemirror) {
        opacity: 0.5;
    }

    .disabled {
        pointer-events: none;
    }

    .hidden {
        display: none;
    }

    .centered {
        text-align: center;
    }

    .align-left {
        text-align: left;
    }

    input[type="number"] {
        text-align: center;
    }

    nav.sheet-tabs {
        
        border-top: 1px solid var(--tab-color);
        border-bottom: 1px solid var(--tab-color);
        gap: 0px;
        a {
            flex: 1
        }
        .active {
            background-color: var(--tab-color);
            text-shadow: none;
        }

        > [data-tab]
        {
            padding: 8px 0px;
            flex: 1;
        }
    }
  }

    &.active-effect-sheet {
        .key select {
            width: 100%;
        }

        .script {
            border: 1px solid black;
            margin: 5px 0px;
            padding: 5px;
            display:flex;
            > * {
                flex: 1;
            }
            .script-delete,
            .script-edit{
                flex: 0 0 20px;
            }         
        }

        .add-script {
            width: 200px;
            margin: 10px 30%;
        }
    }

  &#context-menu {
    z-index: 9999;
    width: unset;
  }
}

.theme-light .warhammer.application {
  --tab-color : var(--color-border-light-primary);
}

blockquote.foundry-note {
    border-left: none;
    font-style: normal;
    border-radius: 20px;
    padding: 5px;
    background: linear-gradient(rgba(255, 143, 32, 0.76) 0%, rgba(255, 77, 30, 0.75) 100%);
    box-shadow: 0 0 7px black;
    font-style: normal;
    color: black;

    a.content-link {
        color: #1c3132;
    }

    &::before {
        content: url(../../../icons/vtt.png);
        float: left;
        margin-right: 5px;
      }
  }